*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;  
}

@font-face {
    font-family:"Amaranth-bold" ;
    src: url("../assets/fonts/Amaranth-Bold.ttf");
}

@font-face {
    font-family:"Amaranth-Regular" ;
    src: url("../assets/fonts/Amaranth-Regular.ttf");
}

@font-face {
    font-family:"freescpt" ;
    src: url("../assets/fonts/freescpt.ttf");
}

.navbar-custom {
    background-color: rgb(253, 239, 214); /* Cambia este valor por el color que prefieras */
}


.logo{
    max-width: 9.375rem;
}

.fondoRio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100% !important;
    height: auto !important;
    justify-self: center;
    padding: 0;
    margin: 0;
}

.h1{
    font-family:"freescpt";
    color:rgb(158, 99, 29);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0px 0px 0px 0px;
}
.p{
    font-family: "Amaranth-Regular";
    font-size: .875rem;
    text-align: center;
    padding: .625rem;
    color: black;
}
.h2{
    font-family: "Amaranth-bold";
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: rgb(158, 99, 29);
    padding: .375rem;
}

.h3{
    font-family: "Amaranth-bold";
    text-align: center;
    font-size: 1rem;
    padding: 0px 0rem 30px 0rem;
    color:rgb(158, 99, 29);
}

.nav-link {
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: "Amaranth-bold";
    gap: 1.875rem;
    margin-left: 1.875rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(158, 99, 29); 
}

.nav-link.active:hover {
    color: rgb(158, 99, 29); 
}

.nav-link disabled :hover {
    color: rgb(158, 99, 29); 
}


.titulosServicios{
    font-family:"freescpt";
    color:rgb(158, 99, 29);
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
    
}

.parrafoServicios{
    display: flex;
    justify-content: space-around;
    font-family: "Amaranth-Regular";
    font-size: 1rem;
    text-align:left;
    color: black;
}
.fi{
    color:rgb(158, 99, 29);
}

.cuerpo{
    background-color: rgb(253, 239, 214);
}

.textoInicial{
    font-size: 1.25rem;
    font-family: "Amaranth-bold";
    gap: 1.875rem;  
    text-align: center;
}

.titulohabitaciones{
    text-align: center;
    font-size: 62.5rem;
    color: rgb(158, 99, 29); 
    font-family: "freescpt";
}

.card-title{
    text-align: center;
    font-size: 1.25rem;
    font-family: "Amaranth-bold";
}

.card-text {
    text-align: center;
    font-size: 1.25rem;
    font-family: "Amaranth-Regular";
}

.cocina-quincho{
    background-color: rgb(253, 239, 214);
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    

}
.titulos{
    display: flex;
    justify-content: space-around;
}

.direccionesh1{
    text-align: right;
    color: white;
    font-size: .875rem;
    font-family: "Amaranth-bold";
}


footer ul {
    list-style: none; 
    background-color:rgb(158, 99, 29);
    text-align: right;
    margin: 0;       
    padding: 6px 6px 6px 6px;  

}

footer li {
    margin: 0;        
    padding: 0;       
}
.celular{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "Amaranth-bold";
}